@page {
    size: 11in 8.5in;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: calc(100vw/50);
    font-family: Lora, serif;
    --grid-y: 1.4rem;
    --rule: .01rem solid #401D09
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
}

#page,
#page-background {
    width: 100vw;
    height: calc(100vw * 11/8.5);
}

#page {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 3rem 2rem;
    overflow: hidden;
}

#page-background {
    position: absolute;
    top: 0;
    z-index: -1;
}

#page-background svg {
    width: 100vw;
    height: calc(100vw * 11/8.5);
}

#controls {
    box-sizing: border-box;
    padding: 1vw 3vw 2vw;
    display: none;
    position: fixed;
    bottom: 0;
    width: 90vw;
    left: 5vw;
    border: 1px solid black;
    box-shadow: #44444499 1px 1px 2px 1px;
    background-color: lightgray;
    z-index: 100;
    display: grid;
    grid-template-rows: 2rem 2rem;
    grid-auto-flow: column;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}

#contols input {}

#controls label {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

@media print {
    #controls {
        display: none !important;
    }
}

header>* {
    margin: 0;
    display: inline-block;
    font-size: 1.7rem;
}

header h1 {
    color: var(--header);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .05rem;
}

header h2 {
    padding-left: .1rem;
    letter-spacing: -.05rem;
    font-weight: 200;
    font-style: italic;
    color: var(--tagline);
}

#contact {
    margin: .5rem 0 -.5rem 0;
    padding: .3rem .3rem .5rem .2rem;
    border-top: var(--rule);
    border-bottom: var(--rule);
    display: flex;
    justify-content: space-between;
}

#contact li {
    display: inline-block;
    font-size: 1.1rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
}

#contact li a {
    text-decoration: none;
    color: var(--contacts)
}

#contact li a svg {
    height: var(--grid-y);
    width: 1.5rem;
    position: relative;
    top: .3em;
    margin-right: -0.0rem;
    fill: var(--contacts);
}

#summary {
    font-size: 1rem;
    padding: var(--grid-y) 1rem 2rem 1rem;
    font-style: italic;
    color: var(--text);
    /* padding-left: 6rem; */
    /* padding-right: 6rem; */
}

.activities {
    position: relative;
}

.activities li {
    position: relative;
    display: block;
    min-height: calc(3 * var(--grid-y));
}

.activities li * {
    display: none;
}

.activities li h2 {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 800;
    color: var(--text);
}

.activities li h3 {
    position: absolute;
    top: 0;
    left: 26vw;
    width: 35vw;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    display: inline-block;
    font-style: italic;
    font-weight: 400;
    color: var(--text);
}

.activities li h4 {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    display: block;
    font-family: 'Nunito', sans-serif;
    color: var(--text);
}

h6 {
    margin: 0;
    padding: 0;
    height: var(--grid-y);
    transform: translate(0, -.5rem);
    font-size: 1rem;
    color: var(--sections);
    text-transform: uppercase;
    letter-spacing: .7rem;
    font-weight: 100;
}

#skills {
    position: absolute;
    right: 0;
    width: 22vw;
    margin-right: 4vw
}

#skills li {
    display: block;
    font-size: 1rem;
    font-style: italic;
    font-weight: 200;
    line-height: var(--grid-y);
    color: var(--skills);
}